RewriteEngine On

# Přesměrování všech platných požadavků na index.php pro správné routování
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]